GHL_API_KEY=pit-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
GHL_LOCATION_ID=fotG33HIQ58UyWeEbpx9
SUPABASE_URL=https://devsupabase-dentalquality.surovianiasystems.site/rest/v1
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....
N8N_WEBHOOK_URL=https://devn8nwebhook-dentalquality.surovianiasystems.site/webhook/2d3679d0-bf25-445c-ad19-ab7191d32a17
N8N_WEBHOOK_SECRET=
ALLOWED_ORIGIN=https://agendamiento.dentalquality.com.ar
